<footer class="footer">
    <a class="icon-scroll" href="#header" title="top of page">
        <img src="./assets/images/ico-arrow.svg" alt="icon scroll">
    </a>
    <div class="footer-links__container">
        <nav class="footer-links__nav">
            <ul>
                <include src="./footer-links.html" text="articles"></include>
                <include src="./footer-links.html" text="books"></include>
                <include src="./footer-links.html" text="events"></include>
                <include src="./footer-links.html" text="reasons"></include>
                <include src="./footer-links.html" text="tips"></include>
            </ul>
        </nav>
        <nav class="footer-links__social">
            <ul>
                <include src="./footer-links.html" text="twitter"></include>
                <include src="./footer-links.html" text="instagram"></include>
                <include src="./footer-links.html" text="mastodon.social"></include>
            </ul>
        </nav>
        <div class="footer-links__span">
            <span> © 2021</span>
            <span>we <span class="heart">&#x2764;</span> componens</span>
        </div>
    </div>

</footer>